/* Basic Styling for Body */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(253, 241, 242);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgb(114, 114, 114);
    max-width: 600px;
    width: 90%;
}

/* Styling for Title */
h1 {
    font-size: 2em;
    color: rgb(88, 88, 88);
    margin-bottom: 20px;
}

/* Styling for Box Displaying Quotes */
.quote-box {
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(192, 223, 250);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(102, 102, 102);
}

/* Styling for Quote Text */
#quote {
    font-size: 1.5em;
    color: rgb(83, 156, 156);
    margin-bottom: 10px;
}

/* Styling for Author Name */
#author {
    font-size: 0.8em;
    color: rgb(86, 112, 119);
    font-style: italic;
}

button {
    background-color: rgb(192, 223, 250);
    color: rgb(105, 105, 105);
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

/* Hover Effect for Button */
button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}